/*----Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
  

  /*------- Colors --------*/
  --first-color: #be95c4;
  --text-color: #be95c4;

  /*------ Font and typography -------*/
  --body-font: 'Montserrat', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*-----------Font weight -----------*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*---------Margins --------*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*-------z index -------*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

h1{
    color: var(--first-color);

}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6

}

nav{
    height: 100px;
    border-top: solid var(--first-color);
    

}

